<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <SQLSettings>
    <add key="DataBase" value="." />
    <add key="Catalog" value="SalaryDBTest" />
    <add key="UserName" value="sa" />
    <add key="Password" value="Foxconn$88" />
  </SQLSettings>
  <SystemSetting>
    <add key ="SystemCOM" value ="2" />
    <!--COM3的时候 这里是填2-->
    <add key ="SystemPicPath" value ="C:\Users\yjr1019\Desktop\龙口万顺昌工资统计模块\Salary\Salary\bin\x86\Debug\SavePic" />
    <add key ="SystemDBPath" value ="D:\Proking\春雪食品\春雪身份认证程序\SnowSpringSystem\SnowSpringSystem\bin\Debug\DBBack" />
    <add key ="SystemBackIsActive" value ="0" />
    <!--1是disable 0是enable-->
    <add key ="SystemDBBackNumber" value ="7" />
    <add key ="SystemDelegateDate" value ="20" />
  </SystemSetting>
  <SQLZTSettings>
    <add key="CatalogZT" value="AIS20140120" />
    <add key="UserNameZT" value="sa" />
    <add key="PasswordZT" value="sa" />
  </SQLZTSettings>
  <BarcodeRule>
    <add key="rule" value="X01" />
    <add key ="barcodeNo" value ="8" />
    <add key="UserNameZT" value="sa" />
    <add key="PasswordZT" value="sa" />
  </BarcodeRule>
  <LGConnect>
    <!--其中LGPort是连接的端口,LG COM是连接读码的端口,LGSCAN是连接扫描枪的端口,LGButton是发送F8的数据-->
    <add key="LGIP" value="192.168.1.33" />
    <add key="LGPORT" value="23" />
    <add key="LGCOM" value="COM8" />
    <add key ="LGSerialRead" value ="COM3"></add>
    <add key ="LGSCANNER" value ="COM3" />
    <add key ="LGButton" value ="COM4" />
    <add key ="LOTCOM" value ="COM5" />
  </LGConnect>
</configuration>